language: node_js
node_js:
  - 13

services:
  - docker

# Pre-testing installs
install:
  - echo "nothing needs to be installed"

# Scripts to be run such as tests
before_script:
  - echo "no tests"

script:
  - docker --version # print the version for logging
  - docker build -t udagram-api-feed .
  - docker build -t udagram-api-user .
  - docker build -t udagram-frontend .
  - docker build -t udagram-reverseproxy .
  - docker tag udagram-api-user cercuit/udagram-api-feed:v1
  - docker tag udagram-api-user cercuit/udagram-api-user:v1
  - docker tag udagram-frontend cercuit/udagram-frontend:v1
  - docker tag udagram-reverseproxy cercuit/udagram-reverseproxy:v1


after_success:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  - docker push cercuit/udagram-api-feed
  - docker push cercuit/udagram-api-user
  - docker push cercuit/udagram-frontend
  - docker push cercuit/udagram-reverseproxy